# Angular
/dist
/tmp
/out-tsc
/.angular

# Dependencies
/node_modules

# IDE
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json
.idea
*.swp

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
